# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# Virtual env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data artifacts
/data_*
**/data_*

# Model artifacts
*.pkl

# OS
.DS_Store
Thumbs.db
